<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Conexión a la base de datos PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gestionplantas</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">P@ssw0rd</property>

        <!-- Dialecto de PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mostrar SQL en consola -->
        <property name="show_sql">true</property>

        <!-- Crear o actualizar el esquema -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Clases mapeadas -->
        <mapping class="com.mycompany.gestionplantasweb.model.Planta"/>
    </session-factory>
</hibernate-configuration>
